<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDz9jcSOdfiRZBtImNACobBHaz5UtxfBcc</string>
	<key>GCM_SENDER_ID</key>
	<string>947940485830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.syncflow.mac</string>
	<key>PROJECT_ID</key>
	<string>syncflow-6980e</string>
	<key>STORAGE_BUCKET</key>
	<string>syncflow-6980e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947940485830:ios:fcf841dc51b277652845c7</string>
	<key>DATABASE_URL</key>
	<string>https://syncflow-6980e-default-rtdb.firebaseio.com</string>
</dict>
</plist>